<div id="materia_results" class="mt-5">
 	<div class="card">
		<div class="card-header" id="materia_information_header">
		  	<h5 class="mb-0">
				<button 
					class="btn btn-link" 
					data-toggle="collapse" 
					data-target="#materia_information" 
					aria-expanded="true" 
					aria-controls="materia_information"
				>
			  		Basic Information about <strong>{{ materia.name}}</strong> materia.
				</button>
		  	</h5>
		</div>

		<div id="materia_information" class="collapse show" aria-labelledby="materia_information_header" data-parent="#materia_results">
	  		<div class="card-body">
	  			<div class="row">
	  				<div class="row text-center">
						<h3 class="col-12">Locations where <strong>{{ materia.name }}</strong> materia can be bought or found.</h3>
						<p class="col-12">Locations have been marked on the map.</p>
					</div>
	  				<div class="col-md-6 col-12">
	  					<ul class="col-8 offset-2">
							{% for location in locations %}
								<li>
	    							<strong>{{ location.name }}</strong>
	    						</li>
	    					{% endfor %}
	    				</ul>
	    			</div>
	    			<div class="col-md-6 col-12">
	    				<div class="row">
	    					<canvas id="mapCanvas"  width="1200" height="1200" style="width:100%; height:100%"></canvas>
	    				</div>
	    			</div>
	    		</div>
	    		<hr>
	    		<div class="row text-center">
	    			
	    			<div class="col-md-6 col-12">
	    				<h3 class="col-12">Basic information about <strong>{{ materia.name }}</strong> materia.</h3>
						<div class="row">
	    					<p class="col-12">
								<strong>Name:</strong>
								<br>
								{{materia.name}}
							</p>
						</div>
						<div class="row">
							<div class="col-2 offset-5 {{materia.type | lower}} rounded-circle"/></div>
						</div>
						<div class="row">
							<p class="col-12">
								<strong>Type:</strong>
								<br>
								{{materia.type}}
							</p>
						</div>
						<div class="row">
			   				<p class="col-12">
			   					<strong>Description:</strong>
			   					<br>
				   				{{materia.description}}
							</p>
						</div>	
					</div>
				
					<div class="col-md-6 col-12">
						<h3 class="col-12">Abilities granted by <strong>{{ materia.name }}</strong> materia.</h3>
						{% for ability in abilities %}
							{% set start = 1 %}
							{% for i in 1 .. ability.requiredMateriaLevel %}
								<i class=" fa fa-star fa-2x"></i>
							{% endfor %}
	                		<div class="row">
	                    		<p class="col-12">
	                    			<strong>At Level {{ ability.requiredMateriaLevel }}:</strong>
	                    			<br>
	                    			{{ ability.name }} - {{ ability.description }}
	                    		</p>
	                    	</div>
	                	{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script defer="defer">
	const myCanvas 	= document.getElementById('mapCanvas');
	const context 	= myCanvas.getContext('2d');
	const img		= new Image();
		img.src 	= "{{ asset('/build/images/map.png') }}";
		img.onload 	= () => {
		context.drawImage(img, 0, 0);
		{% for location in locations %}
			context.beginPath();
			context.arc( {{location.xCoordinates}}, {{location.yCoordinates}}, 20, 0, 2 * Math.PI);
			context.fillStyle = 'yellow';
	  		context.fill();
	  		context.lineWidth = 7;
	  		context.strokeStyle = 'black';
	  	{% endfor %}
	};
</script>

